USE [master]
GO
/****** Object:  Database [TrainingTaskDb]    Script Date: 4/6/2020 12:45:20 PM ******/
CREATE DATABASE [TrainingTaskDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingTaskDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TrainingTaskDb.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TrainingTaskDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TrainingTaskDb.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingTaskDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingTaskDb]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 4/6/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SURNAME] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[PATRONYMIC] [varchar](50) NOT NULL,
	[POSITION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[PROJECT]    Script Date: 4/6/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROJECT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SHORT_NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](300) NOT NULL,
 CONSTRAINT [PK_PROJECT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[RELATION_EMPLOYEE_TASK]    Script Date: 4/6/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELATION_EMPLOYEE_TASK](
	[EMPLOYEE_ID] [int] NOT NULL,
	[ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TASK]    Script Date: 4/6/2020 12:45:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TASK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WORK] [int] NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[PROJECT_ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK]  WITH CHECK ADD  CONSTRAINT [FK_51] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK] CHECK CONSTRAINT [FK_51]
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK]  WITH CHECK ADD  CONSTRAINT [Relation_1_Employee_FK] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[EMPLOYEE] ([ID])
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK] CHECK CONSTRAINT [Relation_1_Employee_FK]
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK]  WITH CHECK ADD  CONSTRAINT [Relation_1_TASK_FK] FOREIGN KEY([ID])
REFERENCES [dbo].[TASK] ([ID])
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK] CHECK CONSTRAINT [Relation_1_TASK_FK]
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK]  WITH CHECK ADD  CONSTRAINT [TASK_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[TASK] ([ID])
GO
ALTER TABLE [dbo].[RELATION_EMPLOYEE_TASK] CHECK CONSTRAINT [TASK_ID]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [Relation_PROJECT_TASK_FK] FOREIGN KEY([PROJECT_ID])
REFERENCES [dbo].[PROJECT] ([ID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [Relation_PROJECT_TASK_FK]
GO
USE [master]
GO
