<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Copy of New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.CSharp.ReadabilityRules">
    <Rule Id="SA1305" Action="Error" />
    <Rule Id="SA1600" Action="Warning" />
  </Rules>
</RuleSet>